@import 'bootstrap/dist/css/bootstrap';

/* 
p - Lists

H1 - Page headers, main title
H2 - Page subtitles
H3 - "Attention" (admin/user)
H4 -
H5 -
H6 -

*/

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #98a7fc;
  text-decoration: none;
}
a:hover {
  color: #dfe2e5;
}

/*
  ========================================
  Product
  ========================================
*/
/* Show */
.monospaced { 
  font-family: 'Ubuntu Mono', monospaced ;
}
.add-to-cart .btn-qty {
  width: 52px;
  height: 46px;
}
.add-to-cart .btn {
  border-radius: 0;
}

