<!-- Reference: https://www.practicalecommerce.com/Make-an-Impressive-Ecommerce-Footer-in-Bootstrap -->

<footer class="navbar-default">
  <div class="container">
    <div class="row bottom-rule">
      <div class="col-sm-4 footer-section">
        <strong>Connect with Zcommerce</strong>
        <p>Email promotions, news, and information</p>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-secondary">Subscribe</button>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-sm-5 footer-section">
        <ul class="list-inline">
          <li class="list-inline-item text-uppercase">Customer Service:</li>
          <li class="list-inline-item"><a href="#">Returns</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#">Our Guarantee</a></li>
          <li class="list-inline-item"><a href="#">Shipping</a></li>
          <li class="list-inline-item"><a href="#">Product Guides</a></li>
          <li class="list-inline-item"><a href="#">Customer Care</a></li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item text-uppercase">Social Media &amp; Articles:</li>
          <li class="list-inline-item"><a href="#">Instagram</a></li>
          <li class="list-inline-item"><a href="#">Pinterest</a></li>
          <li class="list-inline-item"><a href="#">Twitter</a></li>
          <li class="list-inline-item"><a href="#">Facebook</a></li>
          <li class="list-inline-item"><a href="#">The Best Journal</a></li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item text-uppercase">Events:</li>
          <li class="list-inline-item"><a href="#">Hangout April 30</a></li>
          <li class="list-inline-item"><a href="#">Makers Faire</a></li>
        </ul>
      </div><!-- end col -->
      <div class="col-sm-3">
        <address>
          <strong>Zcommerce</strong><br>
          1000 Some Fantastic Place<br>
          Pandora, FZ 94103<br>
          (123) 456-7890 (phone &amp; text)<br>
          <a href="#">Contact Us</a>
        </address>
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row bottom-rule">
      <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!-- Container wrapper -->
          <div class="container-fluid">
            <!-- Toggle button -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            
              <!-- Left links -->
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Customer Care</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Summer Lookbook</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Gift Cards</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">About Zcommerce</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Careers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
                </li>
              </ul>
              <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
          </div>
          <!-- Container wrapper -->
        </nav>
      </div>
    </div><!-- end row -->
    
    <div class="row leg-room">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Zcommerce</h1>
        <p class="monospaced">
          &copy;2022 Zcommerce Inc. 
          <span class="text-uppercase">All Rights Reserved</span>
        </p>
      </div>
    </div><!-- end row -->

  </div><!-- end container -->
</footer>