<footer id="sticky-footer" class="py-4 bg light">
  <div class="container text-center">
    <small>By &copy; <%= link_to "Filipe Zeferino", "https://zeferino.herokuapp.com/about", class: "text-white" %></small>
  </div>
</footer>
