<!-- Reference: https://www.practicalecommerce.com/Make-an-Impressive-Ecommerce-Footer-in-Bootstrap -->

<footer class="navbar-default">
  <div class="container">
    <div class="row bottom-rule">
      <div class="col-sm-4 footer-section">
        <strong>Connect with ZEFcommerce</strong>
        <p>Email promotions, news, and information</p>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <input type="password" id="inputPassword6" placeholder="example@example.com" class="form-control" aria-describedby="passwordHelpInline">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-secondary">Subscribe</button>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-sm-5 footer-section">
        <ul class="list-inline">
          <li class="list-inline-item text-uppercase">Customer Service:</li>
          <li class="list-inline-item"><a href="#">Returns</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#">Our Guarantee</a></li>
          <li class="list-inline-item"><a href="#">Shipping</a></li>
          <li class="list-inline-item"><a href="#">Product Guides</a></li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item text-uppercase">Social Media:</li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div><!-- end col -->
      <div class="col-sm-3">
        <address>
          <strong>ZEFcommerce</strong><br>
          1000 Some Fantastic Place<br>
          Pandora, FZ 94103<br>
          (123) 456-7890 (phone &amp; text)<br>
          <a href="#">Contact Us</a>
        </address>
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row leg-room">
      <div class="col-md-12 text-center mt-3">

        <p class="monospaced">
          <kbd>By &copy;<%= link_to "Filipe Zeferino", "https://zeferino.herokuapp.com/", class: "text-white", target: :_blank %></kbd>
          <span class="text-uppercase">All Rights Reserved</span>
        </p>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</footer>
